#content_holder{
	font-size: 100%;
}

#content_holder div{
	padding: 0;
	margin: 0;
}
#content_holder{ font: 12px/1 Tahoma; }
.rh{
	position: relative;
	overflow: hidden;
}
#container_holder{
	float: left;
	width: 496px;
	height: 280px;
	background: #fff url('/admin/images/ajax-loader.gif') center center no-repeat;
}
#content_main_holder{
	position: absolute;
	width: 1984px;
	height: 1080px;
}
#content_holder{
	position: absolute;
	cursor: move;
	z-indeax: 1;
	height: 1080px;
}
#content_holder div{
	padding: 0;
	margin: 0;
}
.corner{
	position: absolute;
	width: 6px;
	height: 6px;
	z-index: 2;
}
.row_holder{
	background: #fff;
	width: 1984px;
}
.content_menu{
	width: 37.25px;
	height: 64px;
	background: #2f003e url('/img/content_menu_top.png') 0 0 no-repeat;
	-moz-border-radius: 5px; -webkit-border-radius: 5px;
}
.content_menu span{
	display: block;
	padding: 34px 0 18px 0;
	text-align: center;
}
.content_menu .bottom{
	background: #2f003e url('/img/content_menu_bottom.png') 0 0 no-repeat;
	width: 37.25px;
	height: 21px;
	position: absolute;
	bottom: 0;
	left: 0;
	z-index: 1;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;	
}
.content_text{
	width: 64.5px;
	height: 16.75px;
	font: 22px/1.2 Tahoma;
	color: #ce00af;
	border: 0 none !important;
}
.content_text span{
	padding: 0 10px 0 10px;
	font-size: 5px;
}
.content_text strong{
	display: block;
	text-align: right;
}
#content_holder .layout{
	float: left;
	width: 245px;
	height: 133px;
	padding: 0 4px 4px 0;
}
.img{
	position: absolute;
	border: 1px solid #000;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;	
	font: 9px Tahoma;
	text-align: center;
	cursor: pointer;
}
.layout{ float: left; width: 242.5px; height: 132.5px; padding: 0; }
.two_layout{ float: left; width: 490px; height: 136px; padding: 0; }

.img_001{ width: 106.25px; height: 70px; line-height: 70px;}
.img_002{ width: 21.25px;  height: 70px; line-height: 70px;}
.img_003{ width: 70px; height: 45px; line-height: 45px;}
.img_004{ width: 63.75px; height: 37.5px; line-height: 37.5px}
.img_005, .img_009, .img_010, .img_011{ width: 20px;  height: 20px; line-height: 20px;}
.img_006{ width: 41.25px; height: 20px; line-height: 20px;}
.img_007{ width: 63.75px; height: 60px; line-height: 60px;}
.img_008{ width: 87.5px; height: 65px; line-height: 65px;}
.img_012{ width: 37.5px; height: 65px; line-height: 65px;}
.img_013{ width: 45px; height: 70px; line-height: 70px;}

.xy0 .img_001{left: 0; top: 0;}
.xy0 .img_002{left: 108.5px; top: 0;}
.xy0 .content_menu, .xy0 .img_012{left: 132.5px; top: 0;}
.xy0 .img_003{left: 172.5px; top: 0;}
.xy0 .content_text{left:172.25px; top:48px;}
.xy0 .img_004{left: 0; top: 72.5px;}
.xy0 .img_005{left: 0; top: 112.5px;}
.xy0 .img_006{left: 22.5px; top: 112.5px;}
.xy0 .img_007{left: 66.25px; top: 72.5px;}
.xy0 .img_008{left: 132.5px; top: 67.5px;}
.xy0 .img_009{left: 222.5px; top: 67.5px;}
.xy0 .img_010{left: 222.5px; top: 90px;}
.xy0 .img_011{left: 222.5px; top: 112.5px;}

.xy1 .img_001{left: 137.25px; top: 0;}
.xy1 .img_002{left: 113.5px; top: 0;}
.xy1 .content_menu, .xy1 .img_012, .xy2 .img_012{left: 0; top: 0;}
.xy1 .img_003{left: 41.25px; top: 0;}
.xy1 .content_text{left: 40.25px;top: 50px;}
.xy1 .img_004{left: 113.25px; top: 73px;}
.xy1 .img_005{left: 113.25px; top: 112.5px;}
.xy1 .img_006{left: 135.75px; top: 112.5px;}
.xy1 .img_007{left: 181.5px; top: 73px;}
.xy1 .img_008, .xy2 .img_008{left: 0; top: 67.25px;}
.xy1 .img_009{left: 90.75px; top: 68px;}
.xy1 .img_010{left: 90.75px; top: 90.25px;}
.xy1 .img_011{left: 90.75px; top: 112.25px;}

.xy2 .img_003{left: 40px; top: 0;}
.xy2 .content_text {left: 40px; top: 47.5px; }
.xy2 .img_001 {left: 112.5px; top: 0;}
.xy2 .img_009 {left: 90px; top: 67.5px;}
.xy2 .img_010 {left: 90px; top: 90px;}
.xy2 .img_011 {left: 90px; top: 112.5px;}
.xy2 .img_004 {left: 112.5px; top: 72.5px;}
.xy2 .img_005 {left: 112.5px; top: 112.5px;}
.xy2 .img_006 {left: 135px; top: 112.5px;}
.xy2 .img_007 {left: 179px; top: 72.5px;}
.xy2 .img_013 {left: 221.5px; top: 0;}

.xy2 .second_row{left:417.5px; top:47.5px;}

#event_36 {left:377.5px; top:0;}
#event_37 {left:268.75px; top:0;}
#event_38 {left:417.5px; top:0;}
#event_39 {left:245px; top:72.50px;}
#event_40 {left:245px; top:112.5px;}
#event_41 {left:267.5px; top:112.5px;}
#event_42 {left:311.25px; top:72.px;}
#event_43 {left:377.5px; top:67.25px;}
#event_44 {left:467.5px; top:67.5px;}
#event_45 {left:467.5px; top:90px;}
#event_46 {left:467.5px; top:112.5px;}

#hint_form .alert{
	font: bold 12px Tahoma;
	color: #e32322;
	padding: 10px 0 0 0;
}
#load_event{
	margin: 0;	padding: 0; list-style-type: none;
}
#load_event img{
	padding: 4px 4px 2px 4px;
	vertical-align: middle;
}
#load_event li{
	margin: 0;
	cursor: pointer;
}

#hint_form{
	height: 186px;
	overflow-x: hidden;
	overflow-y: auto;
}

#right_holder .ui-draggable .ui-dialog-titlebar-small {
	width: 170px;
}
#right_holder .ui-draggable .ui-dialog-titlebar-small span{
	font: bold 12px Tahoma;
}
#right_holder .ui-dialog{
	width: 190px;
	padding: 0 4px;
}
#right_holder .ui-dialog-small .ui-dialog-titlebar{
	cursor: default;
}
#right_holder .ui-dialog .ui-dialog-buttonpane-small{
	padding: 0;
}
#right_holder .ui-dialog .alert{
	padding-left: 20px;
}
#right_holder .ui-dialog .ui-dialog-content {
	padding: 0;
}
#right_holder{
	width: 200px;
	height: 280px;
	float: right;
}
.load_event{
	background: #eee url('/admin/images/ajax-loader-2.gif') 50% 50% no-repeat !important;
}
#date_window{
	height: 280px !important;
	position: relative;
	overflow: hidden;
}
#load_event{
	font-size: 11px;
}
#queue_holder{
	overflow: auto;
	width: 700px; 
	height: 300px;
	background: #fff url('/admin/images/ajax-loader.gif') center center no-repeat;
	border: 1px solid #CDCDCD;
}
#queue{
	border-collapse: separate;
	border-spacing: 1px;
	background-color: #CDCDCD;
	padding: 0;
	margin: 0;
}
#queue tr{
	padding: 0;
	margin: 0;
}
#queue .first{
	width: 20px;
}
#queue .event_date{
	cursor: pointer;
}
#queue th{
	font-family: arial;
	font-size: 11px;
	background: #E6EEEE;
	border:1px solid #FFFFFF;
	padding: 2px;
}
#queue .banner_pos{
	padding: 2px 6px;
	font-family: arial;
	font-size: 11px;
}
#queue td{
	background: #fff;
	padding: 0;
	margin: 0;
	text-align: center;
	vertical-align: center;
}
#queue .selected{
	background: #CDCDCD;
}
#queue_holder #queue .active{
	background: #E78F08;
}
#queue_holder #queue .hover{
	background: #ffd27a !important;
}
#queue .ui-selecting { background: #FECA40; }
#queue .ui-selected { background: #F39814; color: white; }

.date{
	font: 11px Tahoma;
	padding: 0 0 10px 0;
}
.date span{
	width: 140px;
	display: inline-block;
}
.ui-datepicker {
	z-index: 1003 !important;
}
#event_add{
	visibility: hidden;
}
#container_holder .ui-state-focus{
	border: 1px solid #ffd27a !important;
}